name: Ingest TAE test stats from Allure to Google Sheets
on:
    workflow_dispatch:
    schedule:
        - cron: '0 6 * * *'  # Runs at 6:00 AM UTC every day

jobs:
  ingest_sheets:
    name: Ingest TAE to Sheets
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Set up Python 3.
        uses: actions/setup-python@v6.1.0
        with:
            python-version: '3.12'

      - name: Enable caching
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv pip install --system -r tae-scripts/requirements.txt

      - name: Run test_build_list.py
        env: 
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python tae-scripts/src/test_build_list.py

      - name: Run durations.py
        run: python tae-scripts/src/durations.py
    
      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v3.0.0
        with:
            credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: Run aggregation script
        env:
            GOOGLE_SHEETS_KEY: ${{ secrets.GCP_SA_KEY}}
        run: |
          python tae-scripts/src/import_csv_to_gsheet.py
